* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.registraion-part .left h2 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #11175d;
  margin: 0;
  margin-top: 110px;
}

.registraion-part p {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #11175d;
  margin: 0;
}

.registraion-part .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding: 0 !important;
}

.login-part .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0;
  border-bottom: 1px solid rgb(17, 22, 60);
  border-radius: 0;
}

.registraion-part .box {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

.registraion-part .MuiFormHelperText-root {
  color: #ff0000;
  font-size: 14px;
}
.registraion-part .form-bottom-text {
  display: inline-block;
  color: #11175d;
  font-size: 21px;
  font-weight: 700;
}

.registraion-part .form-bottom-text a {
  display: inline-block;
  color: #eb0000;
  font-size: 21px;
  font-weight: 700;
}

.registraion-part .css-sghohy-MuiButtonBase-root-MuiButton-root {
  padding: 15px !important;
}

.registraion-part .eye {
  position: relative;
  width: 355px;
}
.registraion-part .eyeicon {
  position: absolute;
  bottom: 19px;
  right: 10px;
}
.registraion-part .loginoption {
  display: flex;
}

.registraion-part .option {
  padding: 20px 30px 20px 50px;
  border: 1px solid #0e0f26;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.registraion-part .option .option-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  left: 19px;
}

.registraion-part .option .facebook {
  color: #4267b2;
}
